*{
    box-sizing:box-border;
}
#main_block{
    display:inline-block;
    height:300px;
    width:350px;
    z-index:20;
    padding:75px;
    margin:125px 50px 50px 325px;
    background-color:black;
    opacity:0.6;
    bottom:100px;
    border-radius: 100px 75px 100px 75px; 
             
}
font{
    color:red;
    font-size:30px;



}
input{
    font-size:20px;
    background:transparent;
    color:red;
    border-radius: 15px 50px 15px 50px;
    
    
}
input[type="submit"]{
    
   height:40px;
   width:320px;
   color:red;
   background-color:black;
   border-radius: 15px 50px 15px 50px;
}
